/*  your css code here. If applicable */
/* .paragraph{
	padding: 10px;
} */
#yellow{
	background: yellow;
	border-width: 1px;
	border-color: green;
}
#red{
	background: red;
	border-width: 1px;
	border-color: Black;
}
#green{
	background: green;
	border-width: 1px;
	border-color: yellow;
}